[Desktop Entry]
Type=Application
Name=SimpleBox
Comment=Elektronikgehaeuse fuer FreeCAD erzeugen
Exec=/home/peter/Documents/Programmierung/Python/Freecad/SimpeBox/Box.sh
Icon=/snap/freecad/current/usr/share/icons/hicolor/scalable/apps/org.freecad.FreeCAD.svg
Terminal=false
Categories=Graphics;Engineering;
StartupNotify=true
